body{
background: #000663;
}

.ball{
width: 60%;
display: block;
margin: 0 auto;
position: relative;
background: #9c27b0;
}


p{
color: #fff;
font-size: 20px;
font-weight: bolder;
position: absolute;
left: 50%;
margin-left: -75px;
top: 55%;
margin-top: -25px;
width: 150px;
text-align: center;
}





.Shake {
width: 150px;
position: absolute;
left: 50%;
margin-left: -75px;
bottom: -41px;
text-align: center;
color: #fff;
border: none;
font-size: 12px;
border-radius: 5px;
height: 25px;
padding: 5px;
background-color: #009688;
box-shadow: 1px 0px 4px black;
}

.Shake:hover{
background: #671691;
transition: 1.5s;
cursor: pointer;
}